body{

    --background:rgb(104, 223, 213);
    font-family: 'Roboto', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{

    font-weight: 300;
}

header{
    background-color: var(--background);
    position: fixed;
    width:100%;
    text-align: center;
    z-index:999;
    height:7%;
    padding-top:0.6rem;
    /* color:white; */
    
}

nav{

    position:absolute;
    top:100%;
    /* bottom:0; */
    left:0;
    text-align:left;
    background-color: var(--background);
    backdrop-filter: blur(2rem);
    width:100%;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    
}

nav li{
    margin-bottom:0.5rem
}
nav li a{

color:white;
font-size: 1.2rem;
text-transform: uppercase;
margin-left: 1rem;
opacity:0;
transition: opacity 200ms ease-in-out;
}
nav li a:hover{
    color:black;
}

.nav-toggle:checked ~ nav{
  transform: scale(1,1);
}
.nav-toggle:checked ~ nav a{
  opacity:1;
  transition: opacity 400ms ease-in-out 200ms;
}

.nav-toggle{
    display:none;
}

.nav-toggle-label{

    position:absolute;
    top:0;
    left: 0;
    margin-left:1rem;
    height:100%;
    display: flex;
    align-items: center;
 
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{

    display:block;
    width:2rem;
    height:2px;
    background-color: white;
   
}
.nav-toggle-label span::before,
.nav-toggle-label span::after{

    content:'';
    position:absolute;
 
    
  
}
.nav-toggle-label span::before{
    top:19px;
 
}
.nav-toggle-label span::after{
    bottom:18px;
}




.content{

        
    font-family: sans-serif;
    background: #64adcf;
    height:100vh;
    /* background-image:url(https://media.istockphoto.com/id/1146517111/photo/taj-mahal-mausoleum-in-agra.jpg?s=612x612&w=0&k=20&c=vcIjhwUrNyjoKbGbAQ5sOcEzDUgOfCsm9ySmJ8gNeRk=); */
   /* background-blend-mode: multiply; */
   background-size:cover;
   display: grid;
   place-items: center;
}

@media screen and (min-width:800px){


    .nav-toggle-label{

        display:none;
    }

   header{

    display:flex;
    justify-content: space-between;
    padding-left:1rem;
   }

   nav {
 
    all:unset;
    padding-top:0.29rem;
   }
   header nav a{

    opacity:1;

   }
    header nav ul{
     display:flex;
     margin-right:2rem;
    

    }

}
